[train] #train parameters
epoch = 16
batch_size = 4
shuffle = True
reader_num = 8
optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 4
shuffle = False
reader_num = 4

[data] #data parameters
train_dataset_type = npy_v1
train_formatter_type = xxx
train_data_path = xxx/train_data
train_label_path = xxx/train_label

valid_dataset_type = npy_v1
valid_formatter_type = xxx
valid_data_path = xxx/valid_data
valid_label_path = xxx/valid_label

test_dataset_type = npy_v1
test_formatter_type = xxx
test_data_path = xxx/valid_data
test_label_path = xxx/valid_label

load_into_mem = False
normalization = True
target_label = 0,1,2,3,4...

[model] #model parameters


[output] #output parameters
output_time = 1
test_time = 1
output_file = None
model_path = xxx/PATH
tensorboard_path = tensorboard
accuracy_method = xxx
output_function = xxx
output_value = xxx
